
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$font-family-kaushan: 'Kaushan Script', cursive;
$font-family:'Quicksand', sans-serif;
//  colors
$primary-color:#6247AA;
$primary-color-light:#B185DB;
$primary-color-vlight:#DEC9E9;
$primary-black:#2e2e2e;


// text
$text-white:#FFFF;


// background
$bg-white:#FFFF;

//font


// border
$border-color:#D2B7E5;