.mwd-header{
  background-color: $bg-white;
  color:$primary-color;
  @include boxShadow(0,0,10px,$primary-color,0.5);
}

.header-menu{
  margin-left:auto;
  cursor:pointer;
}
.ant-popover-inner-content{
  padding:0.3em !important;
}
